services:
  saas_mngt_service:
    image: saas_mngt_service:local
    build:
      context: .
      dockerfile: local.Dockerfile
    volumes:
      - .:/saas_management/apps/saas_mngt_service:rw
      - ../../packages:/saas_management/packages
      - ../../secrets:/saas_management//secrets
      - saas_mngt_service_cache:/root/.cache/
      - saas_mngt_service_mod:/go/pkg/mod
    working_dir: /saas_management/apps/saas_mngt_service
    ports:
      - 4000:4000
      - 40000:40000
    environment:
      - DEBUG=${DEBUG:-false}
      - TOOL=${TOOL}
    entrypoint:
      - "sh" 
      - "-c"
      - |
        if [ "${TOOL}" = "BUILD" ]; then
          go mod tidy
          exit 0
        fi

        if [ "${TOOL}" = "DUMP_SQL" ]; then
            PGPASSWORD="${DB_PASSWORD}" pg_dump -h ${DB_DOCKER_SV_NAME} -U "${DB_USER}" -d "${DB_NAME}" --schema=${DB_SCHEMA} --schema-only -f ./sql/schema.sql
            sed -i "/-- Dumped by pg_dump/d; /\\\\restrict/{N;d;}; /\\unrestrict/{N;d;}" ./sql/schema.sql
          exit 0
        fi

        echo "Importing SOPS GPG keys..."
        export SOPS_PGP_FP=$(cat /saas_management/secrets/sops_public_key)
        gpg --import /saas_management/secrets/sops_private_key.asc

        if [ "${TOOL}" = "ENV_ENCRYPT" ]; then
          sops encrypt --input-type dotenv --output-type dotenv .env > .env.enc
          exit 0
        fi

        if [ "${TOOL}" = "ENV_DECRYPT" ]; then
          sops decrypt --input-type dotenv --output-type dotenv .env.enc > .env
          chmod 777 .env
          exit 0
        fi

        sops decrypt --input-type dotenv --output-type dotenv .env.enc > .env
        chmod 777 .env

        if [ "${DEBUG}" = "true" ]; then
          reflex -r '(\.go$|go\.mod)' -s -- sh -c '
            go build -gcflags="all=-N -l" -o .build/debug ./cmd/main.go
            dlv exec .build/debug --listen=:40000 --headless --api-version=2 --accept-multiclient --continue --log
          '
        else
          go build -o .build/main ./cmd/main.go
          .build/main
        fi
    networks:
      - local-monorepo

networks:
  local-monorepo:
    name: local-monorepo
    external: true
    driver: bridge
volumes:
  saas_mngt_service_cache:
  saas_mngt_service_mod:
