services:
  saas_mngt_service:
    image: saas_mngt_service:local
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/saas_management/apps/saas_mngt_service:rw
      - ../../packages:/saas_management/packages
      - ../../secrets:/root/.cache//secrets
      - saas_mngt_service_cache:/root/.cache/
      - saas_mngt_service_mod:/go/pkg/mod
    working_dir: /saas_management/apps/saas_mngt_service
    ports:
      - 4000:4000
      - 40000:40000
    environment:
      - DEBUG=${DEBUG:-false}
      - TOOL=${TOOL}
    entrypoint:
      - "sh" 
      - "-c"
      - |
        if [ "${TOOL}" = "BUILD" ]; then
          go mod tidy &&
          bazel --output_base=/root/.cache/bazel-run mod tidy
          bazel --output_base=/root/.cache/bazel-run run gazelle
          bazel --output_base=/root/.cache/bazel-run build main
          exit 0
        fi

        echo "Importing SOPS GPG keys..."
        export SOPS_PGP_FP=$(cat /root/.cache/secrets/sops_public_key)
        gpg --import /root/.cache/secrets/sops_private_key.asc

        if [ "${TOOL}" = "ENV_ENCRYPT" ]; then
          sops encrypt --input-type dotenv --output-type dotenv .env > .env.enc
          exit 0
        fi

        if [ "${TOOL}" = "ENV_DECRYPT" ]; then
          sops decrypt --input-type dotenv --output-type dotenv .env.enc > .env
          exit 0
        fi

        sops decrypt --input-type dotenv --output-type dotenv .env.enc > .env

        if [ "${DEBUG}" = "true" ]; then
          reflex -r '(\.go$|go\.mod)' -R '.build/' -s -- sh -c "
            bazel --output_base=/root/.cache/bazel-run run --compilation_mode=dbg gazelle
            bazel --output_base=/root/.cache/bazel-run build --compilation_mode=dbg main
            # bazel --output_base=/root/.cache/bazel-run shutdown &&
            dlv exec .build/bazel-bin/cmd/cmd_/cmd --listen=:40000 --headless --api-version=2 --accept-multiclient --continue --log
          "
        else
          bazel --output_base=/root/.cache/bazel-run build main
          bazel --output_base=/root/.cache/bazel-run shutdown
          .build/bazel-bin/cmd/cmd_/cmd
        fi
    networks:
      - local-monorepo

networks:
  local-monorepo:
    name: local-monorepo
    external: true
    driver: bridge
volumes:
  saas_mngt_service_cache:
  saas_mngt_service_mod:
